.bannerWrap {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgba(7, 17, 27, 0.06);
  .banner {
    height: 400px;
    color: #fff;
    line-height: 400px;
    margin: 4rem auto;
    text-align: center;
    background-color: #364d79;
    border-radius: .5rem;
    box-shadow: 0 10px 20px 0 rgba(7,17,27,.2);
  }
}
