/*
 * @Author: jk 
 * @Date: 2020-12-07 16:46:26 
 * @Last Modified by: jk
 * @Last Modified time: 2020-12-16 15:15:43
 */
.main {
  margin-top: 0.5rem;
  .left {
    background-color: #fff;
    padding: 0.3rem;
    border-radius: 0.3rem;
    // border-bottom: 1px solid #eee;
    box-shadow: 0 4px 8px 0 rgba(28, 31, 33, 0.08);
    > .Breadcrumb {
      margin: 1rem;
    }
    > .infoWrap {
      margin: 1rem auto;
      > h5 {
        font-size: 18px;
        font-weight: 550;
        columns: #333;
        text-align: center;
        letter-spacing: 1px;
      }
      > .titleWrap {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0.5rem;
        color: #999;
        span {
          margin: 0.5rem;
          .time{
            color: #ffe0d8;
          }
          
        }
      }
    }
    > .content {
      margin: 0.5rem 1rem;
      font-size: 16px;
      color: #666;
      
  pre {
    position: relative;
    border-radius: 3px;
    // border: 1px solid #c3ccd0;
    overflow: hidden;
    padding: 15px 12px;
    margin: 0;
    word-break: normal;
    display: block;
    overflow-x: auto;
    color: #333;
    background: #f8f8f8;
    code{
      background-color:transparent;
    }
  }
  code {
    // display: block;
    margin: 0 3px;
    padding: 5px 8px;
    overflow-y: auto;
    font-weight: 400;
    word-break: break-word;
    border-radius: 2px;
    overflow-x: auto;
    background-color: #fff5f5;
    color: #ff502c;
  }
    }
  }
  .right {
    background-color: #f6f6f6;
    margin-left: 0.5rem;
    padding: 0.3rem;
    border-radius: 0.3rem;
  }
}
