/*
 * @Author: jk 
 * @Date: 2020-12-07 16:46:26 
 * @Last Modified by: jk
 * @Last Modified time: 2021-01-27 16:52:30
 */

.main {
  margin-top: 0.5rem;
  .left {
    background-color: #fff;
    padding: 0.3rem;
    margin-bottom: 40px;
    border-radius: 0.3rem;
    // border-bottom: 1px solid #eee;
    box-shadow: 0 4px 8px 0 rgba(28, 31, 33, 0.08);
    > .Breadcrumb {
      margin: 1rem;
    }
    > .infoWrap {
      margin: 1rem auto;
      > h5 {
        font-size: 18px;
        font-weight: 550;
        columns: #333;
        text-align: center;
        letter-spacing: 1px;
      }
      > .titleWrap {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0.5rem;
        color: #999;
        span {
          margin: 0.5rem;
          .time {
            color: #ffe0d8;
          }
        }
      }
    }
    > .content {
      margin: 0.5rem 1rem;
      font-size: 16px;
      color: #666;
      p{
        margin: 10px 0;
        letter-spacing: 1px;
      }
      h1,h2,h3,h4,h5,h6{
        margin: 20px 0;
        font-weight: 600;
        letter-spacing: 1px;

      }
      pre {
        position: relative;
        border-radius: 5px;
        // margin: 10px 0;
        overflow: hidden;
        padding: 15px 12px;
        margin: 0;
        word-break: normal;
        display: block;
        overflow-x: auto;
        color: #333;
        background: #1d1f21;
        code {
          // background-color:transparent;
          background-color: #1d1f21;
         
        }
      }
      code {
        // display: block;
        margin: 0 5px;
        padding: 0 8px;
        overflow-y: auto;
        font-weight: 400;
        word-break: break-word;
        border-radius: 2px;
        overflow-x: auto;
        background-color: #fff5f5;
        color: #ff502c;
        
      }
    }
  }
  .right {
    // background-color: #f6f6f6;
    margin-left: 0.5rem;
    padding: 0.3rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .backTop {
      height: 40px;
      width: 40px;
      line-height: 40px;
      border-radius: 4px;
      background-color: #1088e9;
      color: "#fff";
      text-align: center;
      font-size: 14px;
      box-sizing: 0 0.1em 0.5em 0 rgb(0 0 0 / 28%);
    }
  }
}
