

/* 重置样式 */
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	overflow-x: hidden;
	/* background-color: #f6f6f6; */
}

/* 实现黑暗模式代码css */
.dark {
  transition: color 2s, background-color 2s;
  filter: invert(0.9) hue-rotate(180deg);
}


.dark img{
  filter: invert(1) hue-rotate(180deg);
 
}