

/* 重置样式 */
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	overflow-x: hidden;
	/* background-color: #f6f6f6; */
}
html {
  transition: color 300ms, background-color 300ms;
  /* filter: invert(1) hue-rotate(180deg); */
}
html[theme='dark-mode'] img{
  filter: invert(1) hue-rotate(180deg);
}