/*
 * @Author: jk 
 * @Date: 2020-12-01 13:31:22 
 * @Last Modified by: 小菜鸡
 * @Last Modified time: 2021-01-19 14:25:17
 */

.main {
  // margin-top: 0.5rem;
  background-color: #fff;

  .left {
    margin-top: 1rem;
    padding: 0.3rem;
    // border-radius: 0.3rem;
    // border-bottom: 1px solid #eee;
    // box-shadow: 0 4px 8px 0 rgba(28,31,33,.08);
    .listWrap {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
      // align-items: center;
      .infoWrap {
        flex: .95;
        margin-left: 1rem;
        .tagWrap{
          // font-size: 14px;
          :global(.ant-tag){
            font-size: 15px;
          }
        }
        .title {
          margin: 10px 0;
          font-size: 24px;
          font-weight: 600;
          letter-spacing: 2px;
          background-size: 2px 4px;
          background-position: left 90%;
          background-image: radial-gradient(circle farthest-corner at 10% 20%,#03ebff 0,#9846f2 100.2%);
          background-repeat: no-repeat;
          transition: background-size .5s cubic-bezier(.16,1,.3,1);
        }
        .title:hover{
          cursor: pointer;
        }
        .date{
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 500;
          opacity: .8;
        }
      }
      .img {
        border-radius: 32px;
        box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.15);
      }
    }
    
  }

  .right {
    background-color: #fff;
    margin-left: 0.5rem;
    padding: 0.3rem;
    border-radius: 0.3rem;
    border-bottom: 1px solid #eee;
  }
}
