.headerWrap {
  // position: fixed;
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #fff;
  font-size: .9rem;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(7, 17, 27, 0.1);
  
  .avatar{
    margin-left: 10px;
    cursor: pointer;
  }
  .headerItem {
    span {
      margin: 0 0.5rem;
      cursor: pointer;

      @mixin mode{
        width: 20px;
        height: 20px;
        margin-bottom: 5px;
      }
      .sun{
        @include mode;  
        margin-left: -10px;
      }
      .moon{
        @include mode;
        margin-right: -10px;
      }
      
    }
    
  }
}
// @media screen and (max-width: 500px) {
//   .headerWrap {
//     display: none;
//   }
// }
