/* * @Author: jk  * @Date: 2020-11-30 15:07:35  * @Last Modified by:   jk  * @Last Modified time: 2020-11-30 15:07:35  */

.loginDiv{
   margin: 300px auto;
   width: 400px;
   box-sizing: border-box;
   .cardWrap{
      width: 400px;
      .iconColor{
         color: #1890ff;
      }
   }
}

