.mainWrap {
  .totalWrap {
    display: flex;
    justify-content: space-around;
    //  align-items: center;

    .week,
    .today,.total {
       display: flex;
       flex-direction: column;
       justify-content: space-between;
      height: 200px;
      padding: 20px;
      box-shadow: rgb(174, 174, 174) 0px 0px 8px;

      .title {
        color: rgba(0, 0, 0, 0.45);
        font-size: 14px;
        line-height: 22px;
      }
      .counts {
        height: 38px;
        margin-top: 4px;
        margin-bottom: 10px;
        color: rgba(0, 0, 0, 0.85);
        font-size: 30px;
      }
      .weekChart {
        width: 100%;
        height: 30px;
      }
    }
    .today {
       .counts{
          text-align: right;
          color: #2980b9;
       }
       .todayChart{
          height: 50px;
       }
      .rateWrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .rate {
          font-size: 24px;
          color: #e74c3c;
        }
      }
    }
    div {
      flex-basis: 300px;
    }
  }
}
